<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список строк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Список все уроков в выборке</h1>
        <button onclick="location.href='{{ url_for('index') }}'">Вернуться к загрузке файла</button>
    </div>
    <div class="container">
        <div class="top-bar">
            <button onclick="location.href='{{ url_for('index') }}'">Выгрузить Excel</button>
            <form action="{{ url_for('display') }}" method="post" class="search-form">
                <div class="search-wrapper">
                    <input class="search-input" type="text" name="search" placeholder="Search">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                      <defs></defs>
                      <circle cx="11" cy="11" r="8"></circle>
                      <path d="M21 21l-4.35-4.35"></path>
                    </svg>
                    </button>
                  </div>
            </form>
        </div>

        
        <div class="left-side">
            {% for line in lines %}
            <div class="row" onclick="location.href='{{ url_for('details', id=line) }}'">Урок:{{ line }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
